<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-content">

    {{>header}}  
    <img class="portrait" src="img/profile.jpg">
    <div >
        <img class="icons" src="img/github.png">
        <a href="https://github.com/himanigulati01/weather-app">Source code</a>
         <img class="icons" src="img/linkedin.png">
        <a href="https://www.linkedin.com/in/himani-gulati01/">Let's connect on LinkedIn</a>
    </div>
    </div>
    {{>footer}}
</body>
</html>